# compiled files
__pycache__
*.pyc

# directories
/output
/results
/analysis
/datasets
/figures

# executable files
sender_receiver/sender
sender_receiver/receiver

# files
*.log
*.trace 
test*
ws_*
wireshark_*
tshark_*