# compiled files
__pycache__
*.pyc
.ipynb_checkpoints

# directories
/output
/results
/traces
/notebooks
/scripts
/trace_collection/traces

# executable files
sender_receiver/sender
sender_receiver/receiver
trace_collection/udp_sender
trace_collection/udp_receiver

# output or text files
*.pdf
*.txt
*.log
*.trace 
*.csv
*.xlsx

# compressed files
*.tar.gz
*.gz
*.bz2
*.7z
*.tgz
*.tar
*.zip
*.rar
