# compiled files
__pycache__
*.pyc
.ipynb_checkpoints

# directories
/output
/results
/traces/
/notebooks
/scripts

# executable files
sender_receiver/sender
sender_receiver/receiver

# output or text files
*.pdf
*.txt
*.log
*.trace 

# compressed files
*.tar.gz
*.gz
*.bz2
*.7z
*.tgz
*.tar
*.zip
*.rar
